<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partial/head')%>
  </head>
  <body>
   <!--nav-->
   <%- include('partial/nav')%>
   <!--nav end-->
  <div class="container-fluid">
   <h1 class="text-center">password category list</h1>
      <div class="row">
        <div class="col-md-12  col-sm-12 col-xs-12 ">
          <table class="table table-bordered  ">
            <thead>
                
              <tr>
               
               <th>category</th>
               <th>Delete</th>
               <th>Edit</th>
              </tr>
            </thead>
            <tbody>
            <%if(records.length>0){
              records.forEach(function(row){
              %>
              <tr>
               <td><%=row.password_category%></td>
                <td><a class="btn-floating pulse"  href="/passwordCategory/delete/<%=row._id%>" onclick="return confirm('are you sure ?')"><i class="material-icons">delete</i></a></td>
                <td><a class="btn-floating pulse"  href="/passwordCategory/edit/<%=row._id%>"><i class="material-icons">edit</i></a></td>
                
              </tr>
              <% })}%>
            </tbody>
          </table>
        </div>
      </div>
       </div>
       <script src="javascripts/nav.js"></script>
       </body>
</html>
