<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!--materialze css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <!--nav-->
    <%- include('partial/nav')%>
    
    <!--nav end-->
    <div class="container-fluid">
        <h3 class="text-center">Password List</h3>
      <div class="row">
          
        <div class="col-md-12 col-sm-12 col-xs-12">
       <!--table-->
       <div class="tablee">
        <table class="table">
          <thead>
            <tr>
             <th>password Category</th>
             <th>project name </th>
             <th>view</th>
             <th>Delete</th>
             <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <%if(records.length>0){
             records.forEach(function(row){
               %>
          
            <tr>
             <td><%=row.password_category%></td>
             <td><%=row.project_name%></td>
             
             
             <td><a  class="btn-floating   modal-trigger" href="#modal<%=row._id%>"><i class="material-icons">remove_red_eye</i></a></td>
              <td><a  class="btn-floating "  href="/password-detail/delete/<%=row._id%>" onclick="return confirm('are you sure ?')"><i class="material-icons">delete</i></a></td>
              <td><a class="btn-floating " href="/password-detail/edit/<%=row._id%>"><i class="material-icons">edit</i></a></td>
              
            </tr>
            <!--modal-->
            <div id="modal<%=row._id%>" class="modal bottom-sheet">
              <div class="modal-content">
                <p><%-row.password_detail%></p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat btn">close</a>
              </div>
            </div>
            <!--modal end-->
            <%})}%>
          </tbody>
        </table>
         <!--tabel end-->
       </div>
        </div>
        </div>
      </div>
      <script>
        $(document).ready(function(){
    $('.modal').modal();
  });
    </script>
      <script src="javascripts/nav.js"></script>
     
  </body>
</html>
